@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format(opentype);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to top, #01693C, #02F18A 90%);
    color: white;
}

.cabecalho {
    text-align: center;
}

nav {
    padding-bottom: 10px;
}

nav > span {
    text-align: left;
    margin-left: 20px;
    padding: 5px;
}

nav > span:hover {
    background-color: rgba(255, 255, 255, 0.261);
    border-radius: 10px;
}

main > h1 {
    font-family: 'android';
    color: #02AD63;
}

main > h2 {
    font-family: 'android';
    background-color: #02f1893d;
    color: #02AD63;
}

.destaque {
    color: #02f189;
    text-decoration: none;
}