@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format(opentype);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to top, #0B642D, #1BF56F 90%);
    color: white;
}

.cabecalho {
    text-align: center;
}

nav {

}

nav > span {
    text-align: left;
    margin-right: 20px;
}
